*.orig
*.swp
.venv

## autoconf(1)

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/config.log
/config.status
/configure.scan
/depcomp
/stamp-h1
/Makefile
