[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zaw"]
	path = zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions
[submodule "auto-fu.zsh"]
	path = auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh
